MAIL_PASSWORD=<your_email_password>
MAIL_USERNAME=<your_email_address>
ADMIN_USERNAME=<admin_username>
ADMIN_PASSWORD=<admin_password>

MONGO1_PORT=<your_mongo1_port>
MONGO2_PORT=<your_mongo2_port>
MONGO3_PORT=<your_mongo3_port>

JWT_SECRET_KEY=<BASE_64_ENCODED_SECRET_KEY>